* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
}

window {
	background-color: linear-gradient(90deg, #001822 0%, #100022 100%);
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 2px;
}

#active {
	/* This is to underline the button representing the currently active window */
	background-color: #0e084e;
}

button, image {
	background: none;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  	font-size: 12px
}

button:hover {
	background-color: #002230;
	padding-bottom: 3px;
	padding-right: 3px;
	border: linear-gradient(135deg,#33ccff 0%, #5533ff 100%) solid 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

button:focus {
	background-color: #001822;
}

menu {
	color: darkcyan;
	text-shadow: none;
	border-width: 1px;
	border-style: solid;
	background-color: #001822;
    margin-right: 3px;
	border-color: #00ccff;
}

separator {
	background-color: #00ccff;
}