* {
	border: none;
	border-radius: 0;
	min-height: 0;
}

window {
    background-color: #001822;
    color: cyan
}

/* search entry */
entry {
    color: cyan;
    background-color: rgba (0, 0, 0, 0.2)
}

button {
    color:darkcyan;
	background: none;
	border: 0px;
	border-bottom-width: 1px;
	border-style: solid;
    margin-right: 4px;
	padding: 4px;
}

button:hover {
	color:cyan;
	text-shadow: none;
	border-right-width: 1px;
	border-style: solid;
    background-color: #002230;
    margin-right: 3px;
}

/* in case you wanted to give category buttons a different look */
#category-button {
    padding: 4px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px
}
