#waybar {
	color: darkcyan;
	border: none;
	border-radius: 0;
	min-height: 0;
	background-color: #001822;
	margin: 0px;
	padding: 0px;
	transition-duration: 0;
    border-color: cyan;
}

#workspaces button {
	margin-right: 4px;
	padding: 4px;
	background-color: transparent;
	border: 0px;
	border-bottom-width: 1px;
	border-style: solid;
}

#workspaces > .active {
	color:cyan;
	text-shadow: none;
	border-right-width: 1px;
	border-style: solid;
    background-color: #002230;
}

#mpd, #pulseaudio, #network, #cpu, #memory, #temperature, #clock, #window, #tray {
	margin-right: 4px;
	padding: 2px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: cyan;
}