* {
	// color: darkcyan;
	border: none;
	border-radius: 0;
	min-height: 0;
	background-color: #001822;
	font-family: 'otf-font-awesome';
	margin: 0px;
	padding: 0px;
	transition-duration: 0;
}

#workspaces button {
	margin-right: 4px;
	padding: 2px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: cyan;
}

#workspaces button.active {
	color:cyan;
	text-shadow: none;
	border: 10px;
	border-bottom: 1px;
	border-style: solid;
}

#workspaces button:hover {
	color:cyan;
	text-shadow: none;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
}

#mpd, #pulseaudio, #network, #cpu, #memory, #temperature, #clock, #window, #tray {
	margin-right: 4px;
	padding: 2px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: cyan;
}