* {
	border: none;
	border-radius: 0;
	min-height: 0;
	background-color: #001822;
	font-family: 'otf-font-awesome';
	margin: 0px;
	padding: 0px;
}

#workspaces button {
	margin-right: 4px;
	padding: 2px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	color: darkcyan;
	border-color: cyan;
}

#workspaces button:hover {
	color:cyan;
	text-shadow: none;
}